<a href="https://colab.research.google.com/github/yunisni/data_analytics_2/blob/main/01_08_2021_ClassNote.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# write if-elif statement #

age=48
if age <23:
    print("they will have a free chocolate")
elif age<45:
    print("they will have a free drink and chocolate")
else:
    print("they will have a free candy")

they will have a free candy

In [ ]:
# number list looping#
for x in range(1, 11):
    print(x)

L = ['1', '2','3']
L2='4','5','6','7','8','9','10'

print(L)
if "1" in L:
  print('1'+'st')
if "2" in L:
  print('2'+'nd')
if "3" in L:
  print('3'+'rd')
else:
    print(L2+'th')

1
2
3
4
5
6
7
8
9
10
['1', '2', '3']
1st
2nd
3rd

In [ ]:
D = {'name': 'Bob',
     'age': 25,

In [ ]:
# write a grocery list #

shopping_list = ['milk', 'cabbage', 'butter','cheese','jam']
new_list='honey'

if 'cheese' in shopping_list:
    print("Yes, 'cheese' is in the shopping list")
if new_list not in shopping_list:
    print(new_list.upper()+", was not in the list, and I dont need it")

Yes, 'cheese' is in the shopping list
HONEY, was not in the list, and I dont need it

In [ ]:
# dictionary #
person_01 = {'name': 'Sponge Bob',
     'age': 25,
     'love': 'Chocolate',
     'sleep': 'at 1 am everyday',
     'talk about': 'his squarepants everyday'}
print(person_01)
print('Howdy!', person_01['name']+' hows the weather today')
for key,value in person_01.items():
  print(key,value)
  print(key)
  print(value)

{'name': 'Sponge Bob', 'age': 25, 'love': 'Chocolate', 'sleep': 'at 1 am everyday', 'talk about': 'his squarepants everyday'}
Howdy! Sponge Bob hows the weather today
name Sponge Bob
name
Sponge Bob
age 25
age
25
love Chocolate
love
Chocolate
sleep at 1 am everyday
sleep
at 1 am everyday
talk about his squarepants everyday
talk about
his squarepants everyday

In [ ]:
# dictionary #
person_01 = {'name': 'Bob',
     'age': 25,
     'job': 'Dev',
     'city': 'New York',
     'love': 'Chocolate',}

person_02 = {'name': 'Sponage',
     'age': 50,
     'job': 'Sea Fish',
     'city': 'Waikiki',
     'love': 'seaweed',}

person_03 = {'name': 'Elsa',
     'age': 6,
     'job': 'Princess',
     'city': 'Disney',
     'love': 'snowflake',}

person_04 = {'name': 'Lion',
     'age': 12,
     'job': 'King',
     'city': 'Mountain',
     'love': 'Chicken',}

person_05 = {'name': 'Martin',
     'age': 12,
     'job': 'Acc',
     'city': 'Cash Valley',
     'love': 'Green Ticket',}

print(person_03)
print(person_01['name'])
print(person_01['age'])
print(person_02['name'])
print(person_02['age'])
print(person_03['name'],person_03['job']+' hello')
for x in person_04:
    print(x)

for key,value in person_05.items():
  print(key,value)
  print(key)
  print(value)

{'name': 'Elsa', 'age': 6, 'job': 'Princess', 'city': 'Disney', 'love': 'snowflake'}
Bob
25
Sponage
50
Elsa Princess hello
name
age
job
city
love
name Martin
name
Martin
age 12
age
12
job Acc
job
Acc
city Cash Valley
city
Cash Valley
love Green Ticket
love
Green Ticket

In [ ]:
# check even/odd number using loop #

num = int(input("Let see if this number is even or odd "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Let see if this number is even or odd 58
58 is Even

In [ ]:
# function #
def city():
  print('Seaweed, Greenland')
  print('Butter, Land of Lakes')
  print('Squash, Townsend')
  

def city1(name):
    print('city1,', name)
hello('Food Cities!')

def city2(name, color):
    print(name, 'is', color)

city2('Food City', 'colorful!')

city()

Hello, Food Cities!
Food City is colorful!
Seaweed, Greenland
Butter, Land of Lakes
Squash, Townsend